.checkout {
    background-color: #fff;
    padding: 20px;
    max-width: 300px;
    border: 1px solid #ddd;
    height: 100%;
    margin-top: 12%;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  }
  
  .discount {
    font-size: 20px;
    color: red;
  }
  .total{
    font-size: 20px;
    color: #333;
  }
  .subtotal{
      margin-bottom: 15px;
    font-size: 20px;
    color: green;
  }
  
  main{display: flex;}
  
  .checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .checkout-button:hover {
    background-color: #e68a00;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  .shopping-cart {
    width: 70%;
    margin: 30px auto;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .cart-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .item-image img {
    max-width: 180px;
    margin-right: 20px;
  }
  
  .item-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .item-details p {
    margin: 5px 0;
  }
  
  .item-details .item-price {
    font-weight: bold;
    color: #C8102E;
  }
  .item-details .item-priceDS {
    font-weight: bold;
    color: green;
  }
  
  .cart-total {
    display: flex;
    justify-content: flex-end;
  }
  
  .cart-total span {
    margin: 0 5px;
  }
  
  button {
    margin-right: 5px;
    padding: 5px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #ccc;
  }
  
  
  
  