
body{
   margin: 0%;
}

.topnav {
    overflow: auto;
    background-color: #fff;
    display: flex;
    flex-direction: row;
  }
  .mainbooks{
    width: 233px; 
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;

    
  }
  .mainbooks img{
    margin:0;
    width: 233px;
    overflow: hidden;
  }
  
.topnav input[type=text] {
    height: 20px;
    float:right;
    padding: 10px;
    margin-top: 40px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50%;
    width: 750px;
    position: relative; top:20px;
    
    border-color: #000;

  }
  .topnav input[type=text], .Search{
    margin: 0;
    position: relative; left: 295px;
  }
  .Search{
    position: relative; top: -20px;
    height: 44px;
    width: 50px;
    margin-top: 40px;
    background-color: white;
    cursor: pointer;
    z-index: 1;
    background: black;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart{
    background: transparent;
    position: relative; left: 400px; top: -20px;
    margin-top: 40px;
    height: 44px;
    width: 44px;
    background: black;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .Log-in{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.2s;
    position: relative; left: 500px; top: 20px;
  }
  .topnav .Log-in:hover{
    background:  black;
    color: white;
}
  
.topnav img{margin: 0; width: 80px; height: 80px; background: white;}
.topnav h2{position: relative; top: 5px; left: 30px;}
.headerimg{margin: 0; width: 1000px;}
header{  max-width:100vw}
nav {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

li:last-child {
  margin-right: 0;
}
main{overflow: hidden;}
li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s, color 0.3s; 
}

li a:hover {
  background-color: #fff; 
  color: #000; 
  border-color: #000; 
}

img{    margin-left:15%; background-color: rgba(0, 0, 0, 0.5);}
.h {
  display:flex;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  
}
.t{
  display:flex;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
.bow{
  position: relative;
  top: auto;
  left: auto;
    
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 15px;

}
.slider img{ margin: 0; margin-right:70px; height: 250px;}
.slider {
  display: flex;

}

.slide {
  width: 100%;
}

.prev {
  left: 0;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: #333;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.next {
  right: 0;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: #333;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}










.randoms{
    display: flex;
    flex-direction: column;

}

.randombook{
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	overflow-wrap: auto; 
    margin-right: 50px;
    width: 500px;
    height: 300px;
}
#p{
    gap: 20px; 
  flex: 1;
    color: aliceblue;
}

.box{
    display: flex;
    height: auto;
    justify-content: center; 
}

.slids{
  text-align:center; padding: 30px;
  width: 160px;
  margin-right: 80px;
}
