body{
    margin: 2%;
    padding: 0%;
}

.topnav {
    overflow: auto;
    background-color: #e9e9e9;
  }

  .topnav input[type=text] {
    width: 1000px;
    height: 20px;
    float:right;
    padding: 10px;
    border: none;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
  }


.mainbody{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;

}
.mainbody .bow{
    display: flex;
    justify-items: end;
    align-items: flex-end;
}
.randoms{
    display: flex;
    flex-direction: column;

}
.bow{
    display: flex;
    width: 1000px;
    height: 500px;
    margin-top: 30px;
    justify-content: space-around;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 15px;

}
.randombook{
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	overflow-wrap: auto; 
    margin-right: 50px;
    width: 500px;
    height: 300px;
}
#p{
    gap: 20px; 
  flex: 1;
    color: aliceblue;
}


.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
   
 
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;

  }

.sidebar a{ width: 200px;}
.sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 250px;
    align-content: flex-start;
    height: 600px;

  }
.bar{
 border-radius: 10px;
}
.box{
    display: flex;
    height: auto;
    justify-content: center; 
}

