body{
    margin: 2%;
    padding: 0%;
}
.Serchbar{
    display:flex;
    justify-content: center;


}


.header {
    background: #fc035a;
    color: orange;
    font-size: 40px;
    height: 50px;
}
.mainbody{
    margin-top: 50px;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.randoms{
    display: flex;
    flex-direction: column;

}
.bow{
    display: flex;
    width: 1000px;
    height: 500px;
    margin-top: 30px;
    justify-content: space-around;
    background-color: blue;

}
.randombook{
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	overflow-wrap: auto; 
    margin-right: 50px;
    width: 500px;
    height: 300px;
}
#p{
    gap: 20px; 
  flex: 1;
    color: aliceblue;
}


.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
   
 
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;

  }

.sidebar a{ width: 200px;}
.sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 250px;
    
    height: 600px;

  }
.bar{
 border-radius: 10px;
}
.box{
    display: flex;
    height: auto;
    justify-content: center; 
}

